<div id="left">
<div class="alert alert-success" *ngIf="saveSuccess">
    <strong>Success!</strong>
</div>
  <form class="form-horizontal"
              novalidate
              (ngSubmit)="addPost(customerForm.value)"
              [formGroup]="customerForm">
			  <div class="form-container">
              <div class="row columns">
            <fieldset>
                <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.moveindate }">
                    <label class="col-md-2 control-label" 
                           for="moveInDateId">Move In Date</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="moveInDateId" 
                               type="date" 
                               placeholder="Move in Date (required)" 
                               formControlName="moveindate" />
                        <span class="help-block" *ngIf="displayMessage.moveindate">
                            {{ displayMessage.moveindate}}
                        </span>
                    </div>
                </div>

                <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.street }">
                    <label class="col-md-2 control-label" 
                        for="streetId">Street</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="streetId" 
                               type="text" 
                               placeholder="street (required)" 
                               formControlName = "street" />
                        <span class="help-block" *ngIf="displayMessage.street">
                            {{ displayMessage.street }}
                       </span>
                    </div>
                </div>
				
				
				<div class="form-group"
                    [ngClass]="{'has-error': displayMessage.postcode }">
                    <label class="col-md-2 control-label" 
                        for="postCodeId">Postcode</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="postCodeId" 
                               type="number" 
                               placeholder="Post Code (required)" 
                               formControlName = "postcode" />
                        <span class="help-block" *ngIf="displayMessage.postcode">
                            {{ displayMessage.postcode }}
                       </span>
                    </div>
                </div>
				
				 <div class="form-group"
                    [ngClass]="{'has-error': displayMessage.town }">
                    <label class="col-md-2 control-label" 
                        for="townId">Town</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="townId" 
                               type="text" 
                               placeholder="Town (required)" 
                               formControlName = "town" />
                        <span class="help-block" *ngIf="displayMessage.town">
                            {{ displayMessage.town }}
                       </span>
                    </div>
                </div>
				
				<div class="form-group"
                    [ngClass]="{'has-error': displayMessage.country }">
                    <label class="col-md-2 control-label" 
                        for="countryId">Country</label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="countryId" 
                               type="text" 
                               placeholder="Country(required)" 
                               formControlName = "country" />
                        <span class="help-block" *ngIf="displayMessage.country">
                            {{ displayMessage.country }}
                       </span>
                    </div>
                </div>
				

                <div formGroupName="emailGroup"
                     [ngClass]="{'has-error': customerForm.get('emailGroup').errors && 
                                              customerForm.get('emailGroup').errors.match }">
                    <div class="form-group"
                        [ngClass]="{'has-error': displayMessage.email}">
                        <label class="col-md-2 control-label" 
                            for="emailId">Email</label>

                        <div class="col-md-8">
                            <input class="form-control" 
                                id="emailId" 
                                type="email" 
                                placeholder="Email (required)" 
                                formControlName = "email" />
                            <span class="help-block" *ngIf="displayMessage.email">
                                {{ displayMessage.email }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group"
                        [ngClass]="{'has-error': (customerForm.get('emailGroup.confirmEmail').touched || 
                                                  customerForm.get('emailGroup.confirmEmail').dirty) && 
                                                  !customerForm.get('emailGroup.confirmEmail').valid }">
                        <label class="col-md-2 control-label" 
                            for="confirmEmailId">Confirm Email</label>

                        <div class="col-md-8">
                            <input class="form-control" 
                                id="confirmEmailId" 
                                type="email" 
                                placeholder="Confirm Email (required)" 
                                formControlName = "confirmEmail" />
                            <span class="help-block" *ngIf="(customerForm.get('emailGroup.confirmEmail').touched || 
                                                            customerForm.get('emailGroup.confirmEmail').dirty) && 
                                                            customerForm.get('emailGroup.confirmEmail').errors">
                                <span *ngIf="customerForm.get('emailGroup.confirmEmail').errors.required">
                                    Please confirm your email address.
                                </span>                          
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <span class="help-block" *ngIf="customerForm.get('emailGroup').errors">
                                <span *ngIf="customerForm.get('emailGroup').errors.match">
                                    The email address does not match the confirmation.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

               
                
                
<input type="submit" class="button expanded" value="Save" [disabled]="!customerForm.valid">
                
            </fieldset>
			</div>
    </div>
        </form>
		
</div>

<div id="right">
<h1>{{test}}</h1>           

<h1>{{welcome}}</h1>
                <table>
                    <tr>
                        <th>#</th>
                        <th>Move in Date</th>
						<th>Street</th>
						<th>Postcode</th>
						<th>town</th>
						<th>Country</th>
                        
                    </tr>
                    <tr *ngFor="let post of posts; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{post.moveindate}}</td>
						<td>{{post.street}}</td>
						<td>{{post.postcode}}</td>
						<td>{{post.town}}</td>
						<td>{{post.country}}</td>
                        
                    </tr>
                </table>
				
<div>

